header {
  height: 282px;

  .top {
    background-color: #434343;
    height: 54px;
    line-height: 54px;
    color: #fff;
  }

  .middle {
    background-color: #363636;
    height: 144px;
  }

  .bottom {
    background-color: #fff;
    height: 84px;
  }

}